name: Build & Sign APK Official
on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      # تنظیم نسخه نود جی اس روی 22 برای رفع ارور Fatal
      - name: set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      # تنظیم جاوا روی 21 برای خروجی رسمی
      - name: set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Install Dependencies
        run: |
          npm install
          npm install @capacitor/cli @capacitor/core @capacitor/android

      - name: Build Web Project
        run: npm run build

      - name: Sync Capacitor
        run: npx cap sync android

      - name: Build Release APK
        run: |
          cd android
          chmod +x gradlew
          ./gradlew assembleRelease

      # امضای خودکار با استفاده از سکرت‌هایی که ساختی
      - name: Sign APK
        id: sign_app
        uses: r0adkll/sign-android-release@v1
        with:
          releaseDirectory: android/app/build/outputs/apk/release
          signingKeyBase64: ${{ secrets.ANDROID_KEYSTORE_CONTENT }}
          alias: ${{ secrets.ANDROID_KEY_ALIAS }}
          keyStorePassword: ${{ secrets.ANDROID_KEYSTORE_PASSWORD }}
          keyPassword: ${{ secrets.ANDROID_KEYSTORE_PASSWORD }}

      - name: Upload Final Signed APK
        uses: actions/upload-artifact@v4
        with:
          name: Nakh-AI-Official-Release
          path: ${{ steps.sign_app.outputs.signedReleaseFile }}
